# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
*.iml
.idea/
.metadata

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
*.jks
*.keystore

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/

# Misc
.DS_Store
*.log
*.swp
.atom/
.buildlog/
.history
